[submodule "references/go"]
	path = references/go
	url = https://github.com/golang/go.git
	shallow = true
[submodule "references/wasmtime"]
	path = references/wasmtime
	url = https://github.com/bytecodealliance/wasmtime.git
	shallow = true
[submodule "references/regalloc2"]
	path = references/regalloc2
	url = https://github.com/bytecodealliance/regalloc2.git
	shallow = true
[submodule "references/swift"]
	path = references/swift
	url = https://github.com/swiftlang/swift.git
	shallow = true
[submodule "references/zig"]
	path = references/zig
	url = https://github.com/ziglang/zig.git
	shallow = true
[submodule "references/rust"]
	path = references/rust
	url = https://github.com/rust-lang/rust.git
	shallow = true
[submodule "references/deno"]
	path = references/deno
	url = https://github.com/denoland/deno.git
	shallow = true
[submodule "references/ghostty"]
	path = references/ghostty
	url = https://github.com/ghostty-org/ghostty.git
	shallow = true
[submodule "references/zed"]
	path = references/zed
	url = https://github.com/zed-industries/zed.git
	shallow = true
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/cotlang/std.git
[submodule "references/kotlin"]
	path = references/kotlin
	url = https://github.com/JetBrains/kotlin.git
